/* fonts */
html {
    font-family: Arial, Helvetica, sans-serif;
}


/*makes the background color to the selected color and some text color and ect...*/
body {
    background-color: #0D1117;
    color: white;
    overflow-x: hidden !important;
    overflow-y: auto;
}



/* selection desable */
.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

/* typewriter effect */
.typewriter h1 {
    position: relative;
    top: 90px;
    overflow: hidden;
    /* checks if the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* the typwriter cursor */
    white-space: nowrap;
    /* keeps the content on a single line */
    margin: 0 auto;
    /* gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* adjust as needed */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: rgb(228, 0, 245);
    }
}


/*i have written all these comments one by one*/