/* compability with mobile */
@media only screen and (max-width: 1155.05px) {
    .typewriter h1 {
        font-size: 20px;
        top: 60px;
    }

    .container {
        height: 450px;
    }

    .boxHP {
        height: 100px;
        width: 80%;
        padding: 20px;
        overflow: visible;
        background-color: #14181e;
        border-radius: 7px;
        text-align: center;
    }

    .boxHP h2 {
        display: inline-block;
        width: 44%;
        margin-top: 3%;
        font-size: 22px;
    }

    .windowGif {
        display: none;
    }

    .containerAB {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        margin-left: 15%;
        margin-top: 200px;
        z-index: 0;
        height: 400px;
    }
}

/* destop compability on about me*/
@media only screen and (min-width: 1155.05px) {
    .containerAB {
        display: grid;
        grid-template-columns: 200px 1fr;
        width: 50%;
    }

    .pfp {
        position: relative;
        top: 25px;
        width: 170px;
        height: 170px;
        border-radius: 2%;
    }

}